@font-face {
  font-family: 'Share_Tech_Mono';
  src: url(../fonts/ShareTechMono-Regular.ttf);
}

html{
  scroll-behavior: smooth;
}

body{
    background-color: #B0C4DE;
    
    background-attachment: fixed;
    
}

header{
  position: fixed;
  width: 100%;
}

.menu, footer{
  background-color: rgba(100, 149, 237, 0.3);
  padding: 2%;
}

.itens_menu{
  padding-top: 1% ;
  line-height: 1.5;
  text-align: center;
  font-size: 1.3em;
  
}
.itens_menu a:visited, .itens_menu a:link{
  color: rgb(7, 11, 223);
  text-decoration: none;
  font-weight: bolder;

}

.itens_menu a:hover{
  background-color: rgba(72, 61, 139, 0.3);
  padding: 0.5%;

}

.itens_menu a:active{
  color: black;
}


h1{
  font-size: 1.5em ;
  font-family: 'Orbitron', sans-serif, cursive
}

h2{
  font-size: 1.5em;
}

p{
   color: #1C1C1C;
   font-size: 1.5em;
   font-weight: bolder;
   line-height: 1.3;
   text-align: justify;
   text-indent: 40px;
   font-family: 'Patua One', cursive;
}

h1,h2{
    color: #800000;
    text-align: center;
    margin-bottom: 2%;
    font-family: 'Orbitron', sans-serif, cursive

}
figure{
    text-align: center;
}

.container{
    width: 70%;
    margin: auto;
}

.logo{
  text-align: center;
}

.img_logo{
  width: 20%;
}

.img_topo{

    width: 100%;
}

.img_corpo{

    width: 70%;
}

footer{
  background-color: rgba(100, 149, 237, 0.3);
  padding: 2%;
  margin-top: 2%;
  text-align: center;
  font-weight: bolder;
  font-size: 1.5em;
  color: #800000;
}

footer p {
  text-align: center;
  font-size: 1.5em;
}
 

.botao{

    background-color:  #800000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin: 1%;
    width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;

}
.center{
  position: absolute;
  margin: 2%;
}

.botao p{
  text-align: center;
}

.botao:hover{
  background-color: #B0C4DE;
}

.botao a:link, .botao a:visited{
  color: bisque;
  text-decoration: none;
  font-weight: bolder;
}

section{
  margin-top: 2%;
  margin-bottom: 2%;
}

.direita{
  float: right;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 40%;
}

.esquerda{
  float: left;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 30%;
}

table{
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 7px double black;
  border-radius: 10px;
}

td,th{
  
  padding: 1%;
  font-family: 'PatuaOne-Regular', cursive; 
  border: 7px double black;
  border-radius: 10px;
  
}

td{
  font-size: 1.5em;
 padding: 2%;
}

th{
  font-size: 1.5em;
}

td:first-child{
  width: 40%;
}

td:first-child + td{
  width: 60%;
}

audio{
  width: 75%;
}

audio::webkit-media-controls-panel{
  background-color: blanchedalmond;
}

.form{
  box-sizing: border-box;
 background-color: #00804473;
 border-radius: 20px;
 color: white;

}

input[type=text],input[type=tel],input[type=email], select, textarea {
  width: 83%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  resize: vertical;
  margin-top: 2%;
}

label{
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-top: 1%;
}

input[type=submit]:hover {
  background-color: #45a049;
  font-weight: bolder;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 500px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  .form{
    border-radius: 15px;
    background-color: firebrick;
  }
}